	
	.aaa{ position: absolute;left: 8px;bottom: 8px;}
	.aaa-inner{display: flex;}	
	.aaa .ol-scale-singlebar {
	  position: relative;
	  height: 10px;
	  z-index: 9;
	  box-sizing: border-box;
	  border: 1px solid #42B983;
	}
	
	.aaa .ol-scale-singlebar-even {
	  background-color: #ff0000;
	}
	
	.aaa .ol-scale-singlebar-odd {
	  background-color: #42B983;
	}
